<section class="main section" id="posting">
    <div v-if="!permission">
        <h1 class="title">This article is deleted or you have no permission to edit it.</h1>
        <a href="profile" class="button">Manage</a>
    </div>
    <form v-on:submit.prevent="create" v-if="permission">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <label for="name" class="label">Title</label>
                            <input type="text" id="name" class="input" required v-model="article.name">
                        </div>

                    </div>
                    <img :src="article.image.path" alt="" />
                    <upload-image @uploaded="changePic" max-size="400"></upload-image>
                    <div class="field">
                        <div class="control">
                            <label for="teaser" class="label">Teaser</label>
                            <textarea id="teaser"
                                      class="textarea"
                                      placeholder="max 255 character"
                                      required
                                      v-model="article.teaser"></textarea>
                        </div>

                    </div>
                    <div v-for="section in article.content">
                        <editor id="new-post-editor" v-model="section.content" :init="{plugins: 'link'}"></editor>
                    </div>

                </div>
                <div class="column is-one-third">
                    <label for="category" class="label">Category</label>
                    <div class="select">

                        <select id="category" required v-model="article.category_id">
                            <option v-for="category in categories" v-bind:value="category.id">{{category.name}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label for="keywords" class="label">Keywords</label>
                            <div class="tag-input-container input">
                                <div class="tags">
                                    <span class="tag" v-for="(keyword,index) in article.keywords">{{keyword}}<button class="delete is-small" @click.prevent="removeKeyword(index)"></button></span>
                                </div>
                                <input type="text"
                                       @blur="addKeyword = addKeyword+','"
                                       autocomplete="off"
                                       class="tag-input"
                                       id="keywords"
                                       v-model="addKeyword"
                                       placeholder="separate by comma">
                            </div>
                        </div>


                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" v-model="article.public">
                            Appear in search & make public
                        </label>
                    </div>
                    <article class="message is-primary">
                        <div class="message-body">
                            This article is currently:
                            <strong v-if="article.isDraft">drafted</strong>
                            <strong v-else>published</strong>
                            <div v-if="article.slug">
                                slug: <a :href="'{{base}}article/'+article.slug">{{article.slug}}</a>
                            </div>
                        </div>
                    </article>
                    <div>
                        <button type="submit" v-on:click="article.isDraft = true" class="button is-info">
                            <span>Save</span></button>
                        <button type="submit" v-on:click="article.isDraft = false" class="button is-primary">Save &
                                                                                                             publish
                        </button>
                        <button v-on:click="softDelete" class="button is-danger">Delete</button>
                    </div>
                </div>

            </div>

        </div>


    </form>

</section>
