<section class="main section " id="article">
    <div class="container ">
        <div class="columns">
            <div class="column flex-vertical">

                <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="{{base}}article">Home</a></li>
                        <li><a href="#">{{category.name}}</a></li>
                        <li><a href="#">{{name}}</a></li>
                    </ul>
                </nav>

                <article class="flex-vertical">
                    <h1 class="title has-text-primary">{{name}}</h1>
                    <h1 class="subtitle ">{{teaser}}</h1>
                    <figure class="image is-19by9">
                        {{imageTag}}
                    </figure>

                    <div class="content has-margin-top-3">
                        {{renderedContent}}
                    </div>
                    <div class="columns">
                        <div class="column"></div>
                        <div class="column is-narrow">
                            <blua-article author-id="{{author.id}}" article-id="{{id}}"></blua-article>

                        </div>
                    </div>
                </article>
                <div class="has-margin-top-3">
                    <comment-list article-id="{{id}}">
                        {{commentString}}
                    </comment-list>

                </div>
                <comment class="has-margin-top-3" article-id="{{id}}"></comment>
                <login-form class="has-margin-top-3"></login-form>
            </div>
            <div class="column is-one-quarter">

                <div class="">
                    <div class="media ">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="{{author.profilePicture}}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <p>
                                <strong>{{author.user_name}}</strong>
                                <small>@{{author.user_name}}</small>
                            </p>
                            <article-rating article-id="{{id}}"></article-rating>
                        </div>
                    </div>
                    <metric slug="{{slug}}" initial-value="{{metrics.unique}}">
                        <span class="tag is-primary" id="unique-readers">{{metrics.unique}} readers</span>
                    </metric>

                </div>
                <div class="border-bottom has-margin-top-3">
                    <span class="title is-5 has-text-primary">Keywords</span>

                </div>
                <div class="has-margin-top-3">
                    {{keywordString}}
                </div>
                <div class="border-bottom has-margin-top-3">
                    <span class="title is-5 has-text-primary">On topic</span>
                </div>

                <div>
                    {{related}}
                </div>
            </div>
        </div>
    </div>
</section>
<script type="application/ld+json">
    {{seo}}
</script>
