.has-margin-top-3{
    margin-top: 1rem;
}
.highlight:hover{
    text-shadow: 2px 3px #ccc;
}

.card-content {
    height: 180px;
    overflow: hidden;
}

.card-header-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}