<div class="card has-margin-top-3">
    <header class="card-header" style="background: url({{base}}{{image.path}});background-size: cover; ">
        <p class="card-header-title " style="background: rgba(255,255,255,.75)">{{name}}</p>
    </header>
    <div class="card-content">
        {{teaser}}
    </div>
    <div class="card-footer">
        <div class="card-footer-item">
            <small>@{{author.user_name}}</small>
        </div>
        <div class="card-footer-item">
            <a href="{{base}}article/{{id}}/">read</a>
        </div>
    </div>
</div>