<div>
    <div class="modal" v-bind:class="{'is-active':isActive}">
        <div class="modal-background"></div>
        <div class="modal-content">
            <article class="message" v-bind:class="[modalClass]">
                <div class="message-header">
                    <p>{{headline}}</p>
                    <button class="delete" aria-label="delete" @click="toggle"></button>
                </div>
                <div class="message-body" v-html="content"></div>
                <footer class="card-footer" v-if="confirmable">
                    <button @click="confirm" class="card-footer-item is-success">OK</button>
                    <button @click="deny" class="card-footer-item is-warning">Cancel</button>

                </footer>
            </article>

        </div>
    </div>
</div>
