<div>
    <form v-on:submit.prevent="doRegister">
        <div v-if="loggedIn">
            <h2 class="subtitle">You are logged in.</h2>
            <button type="button" class="button" v-on:click="logout">sign out</button>
        </div>
        <div v-else-if="processing">
            <progress class="progress is-small is-primary" max="100">loading</progress>
        </div>
        <div v-else>
            <article class="message is-danger" v-if="duplicate">
                <div class="message-body">
                    Username or Email is taken
                </div>
            </article>
            <div class="field">
                <label for="username" class="label">Username</label>
                <input type="text" class="input" v-bind:class="{'is-warning':duplicate}" id="username" required
                       v-model="username">
            </div>

            <div class="field">
                <label for="ped" class="label">Password</label>
                <input type="password" class="input" id="ped" required minlength="6" v-model="password">

            </div>
            <article class="message " v-bind:class="{'is-danger':passwordStrength<50,'is-success':passwordStrength>49}">
                <div class="message-body">
                    <p>Strength {{passwordStrength}}% (minimum: 50%)</p>
                    <p>Annoyed by sheer nonsense like "One number, one letter, one special character"? So are we. We
                        calculate password strength based on actual mathematical logic.
                        <br>"I will always love blua.blue" (50%) and "blUa@8" (52%) will both fulfill the minimum
                        requirement.</p>
                </div>
            </article>
            <div class="field">
                <label for="email" class="label">Email</label>
                <input type="email" class="input" id="email" v-bind:class="{'is-warning':duplicate}" required
                       minlength="8"
                       v-model="email">
            </div>
            <div class="columns">
                <div class="column">
                    <label class="checkbox">
                        <input type="checkbox" v-model="acceptTAC" required>
                        I agree to the <a v-on:click="showModal">terms and conditions</a>
                    </label>
                </div>
                <div class="column is-narrow">
                    <button type="submit" class="button is-primary">Register</button>
                </div>

            </div>
        </div>
    </form>
    <blua-modal></blua-modal>
</div>

