<div class="file">
    <label for="pic" class="file-label">
        <input id="pic" type="file" class="file-input" v-on:change="upload">
        <span class="file-cta">
            <span class="file-icon">
                <i class="material-icons">cloud_upload</i>
            </span>
            <span class="file-label">
                Choose a file…
            </span>
        </span>
    </label>
    <div class="modal" v-bind:class="{'is-active':sizeWarning}">
        <div class="modal-background"></div>
        <div class="modal-content">
            <article class="message is-danger">
                <div class="message-body">
                    Maximum file size is {{maxSize}}kb
                </div>
            </article>

        </div>
        <button class="modal-close is-large" aria-label="close" @click="sizeWarning =!sizeWarning"></button>
    </div>
</div>