<div>
    <div class="box" v-for="(article,i) in articles">
        <div class="columns">
            <div class="column">

                <a v-bind:href="'{{base}}article/'+article.slug+'/'">{{article.name}}</a>
            </div>
            <div class="column">
                {{article.inserted | formatDate}}
            </div>
            <div class="column is-one-fifth">
                {{article.metrics.total}} total views /
                {{article.metrics.unique}} unique views
            </div>
            <div class="column is-one-fifth">
                <i class="material-icons has-text-success" v-if="article.publish_date">check</i>
                <i class="material-icons" v-else>close</i>
                <i class="material-icons has-text-success" v-if="article.is_public">visibility</i>
                <i class="material-icons" v-else>visibility_off</i>
            </div>
            <div class="column is-narrow">
                <a class="button is-small" v-bind:href="'{{base}}write/'+article.id"><span class="icon"><i class="material-icons">edit</i></span></a>
            </div>
        </div>

    </div>
</div>