<div id="home-page">

    <section class="section main " style="margin-bottom: 20%">
        <div class="columns is-gapless start-bg">
            <div class="column is-three-fifths">
                <figure class="logo image">

                    <img src="{{base}}asset/img/blua-blue-logo.png" alt="blua.blue logo" >
                </figure>
                <h1 class="title has-text-centered has-text-info">
                    Content Enablement Platform
                </h1>
                <div style="margin-bottom: 12px" class=" has-text-centered">
                    <span class="tag is-large is-info">Hybrid</span>
                    <span class="tag is-large is-info">Headless</span> <br>

                </div>
                <div class=" has-text-centered">
                    <span class="tag is-large is-info">REST-API</span>
                    <span class="tag is-large is-info">CMS</span>
                    <span class="tag is-large is-info">Developer-friendly</span>
                </div>

            </div>
            <div class="column">
                <div class="card" style="margin-top:20px">

                    <div class="card-content">
                        <p class="title">
                            “Content is king”
                        </p>
                        <div class="content">
                            <p>This simple phrase - coined by Bill Gates - is as true today as it was in the 90s.
                                Enabling authors to distribute content while providing developers full control is our mission.</p>
                            <login-form></login-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="hero is-primary" style="margin-bottom: 20px">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Is it a headless CMS ?
                </h1>
                <p>Yes and no. Blua.Blue is a hybrid solution, offering both classical CMS capabilities as well
                    as a straight forward API to provide content to wherever it needs to be.</p>
            </div>
        </div>
    </section>
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Can I try it out ?
                </h1>
                <p>Absolutely! Just have at it: <a class="has-text-light" href="{{base}}register/">Sign up</a></p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="tile is-ancestor" >
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-primary">
                            <p class="subtitle"><i class="fab fa-github fa-2x"></i> Yes you can!</p>

                            <p>Fork me on <a href="https://github.com/blua-blue/blua-blue">GitHub </a></p>
                        </article>
                        <article class="tile is-child notification is-link">
                            <p class="subtitle"><i class="material-icons">money_off</i> Yes you can!</p>
                            <p>Use this service completely <strong>free</strong> (fair usage restrictions apply)</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-danger">
                            <p class="subtitle"><i class="material-icons">swap_horiz</i> Yes you can!</p>
                            <code>fetch('https://blua.blue/api.v1/articleList?author=coolDude99')</code>
                            <p style="margin:7px 0 7px 0">Make use of our simple API. You can build your own frontend, backend or both!</p>
                            <a href="{{base}}api-documentation/" class="button">learn more</a>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-success">
                        <p class="subtitle">Need support?</p>
                        <p>
                            Custom development or setup-help, we are here for all of your needs.
                        </p>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-warning">
                    <p class="subtitle">Built with <i class="material-icons has-text-danger">favorite</i> & <i class="material-icons has-text-primary">code</i> <strong>Neoan3</strong></p>
                    <p>Unlike comparable systems, we didn't build a CMS hoping to think of all the customizations you might want. Instead, this service is built on the Neoan3 PHP framework.</p>
                    <p>So what is holding you up? Content is only part of what you want to achieve? Then use Blua.Blue as your starting point and conquer the web!</p>
                </article>
            </div>
        </div>
    </section>
</div>

