<section class="section main" id="reset-view">

    <h1 v-if="1=={{valid}}" class="title">Set new password</h1>
    <h1 v-else>Link invalid</h1>
    <reset-password v-if="1=={{valid}}"></reset-password>
    <!--<form action="{{base}}api.v1/login" method="post" v-if="1=={{valid}}" autocomplete="off">
        <div class="control">
            <div class="field">
                <label class="label">New password</label>
                <input type="password" v-model="pw1" name="password" class="input" required minlength="6" autocomplete="new-password">
            </div>
            <div class="field">
                <label class="label">Repeat password</label>
                <input type="password" v-model="pw2" name="pw2" class="input" required minlength="6" autocomplete="new-password">
            </div>
        </div>
        <button class="button" type="submit" v-bind:disabled="pw1!=pw2">Set</button>
    </form>-->
</section>
