<div>
    <div v-if="wasSuccess">
        <h2 class="subtitle">Password was successfully reset.</h2>
        <p>You may now log in</p>
        <login-form></login-form>
    </div>
    <form @submit.prevent="updatePassword" v-if="!wasSuccess">
        <div class="control">
            <div class="field">
                <label class="label">New password</label>
                <input type="password" v-model="password"  class="input" required minlength="6" autocomplete="new-password">

            </div>
            <article class="message " v-bind:class="{'is-danger':passwordStrength<50,'is-success':passwordStrength>49}">
                <div class="message-body">
                    <p>Strength {{passwordStrength}}% (minimum: 50%)</p>
                    <p>Annoyed by sheer nonsense like "One number, one letter, one special character"? So are we. We calculate password strength based on actual mathematical logic.
                        <br>"I will always love blua.blue" (50%) and "blUa@8" (52%) will both fulfill the minimum requirement.</p>
                </div>
            </article>
            <div class="field">
                <label class="label">Repeat password</label>
                <input type="password" v-model="passwordRepeat"  class="input" required minlength="6" autocomplete="new-password">
            </div>
        </div>
        <div class="control">
            <div style="margin-top: 7px">
                <div class="columns">
                    <div class="column"></div>
                    <div class="column is-narrow">
                        <input type="submit" class="button is-primary" value="send" v-bind:disabled="password!==passwordRepeat || passwordStrength<50">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

